.letter {
  font-size: 5vh;
  width: 12vh;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}

.letter--uppercase { text-transform: uppercase; }
.letter--lowercase { text-transform: lowercase; }
