.letterfont--1 { font-family: 'Ranga', cursive; }
.letterfont--2 { font-family: 'Roboto Slab', serif; }
.letterfont--3 { font-family: 'Roboto', sans-serif; }
.letterfont--4 { font-family: 'Roboto Mono', monospace; }
.letterfont--5 { font-family: 'Titillium Web', sans-serif; }
.letterfont--6 { font-family: 'Noto Serif', serif; }
.letterfont--7 { font-family: 'Indie Flower', cursive; }
.letterfont--8 { font-family: 'Pacifico', cursive; }
.letterfont--9 { font-family: 'Shadows Into Light', cursive; }
.letterfont--10 { font-family: 'Abril Fatface', cursive; }
.letterfont--11 { font-family: 'Acme', sans-serif; }
